<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form [formGroup]="formulario" (ngSubmit)="submit()" novalidate>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input formControlName="nome"></ion-input>
      </ion-item>
      <div
        class="errors"
        *ngIf="(formulario.get('nome').dirty || formulario.get('nome').touched)"
      >
        <span *ngIf="formulario.controls.nome.errors?.required">
          Insira o nome
        </span>
        <span *ngIf="formulario.controls.nome.errors?.minlength">
          Nome precisa ser maior do que 5 caracteres
        </span>
      </div>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" formControlName="senha"></ion-input>
      </ion-item>
      <div
        class="errors"
        *ngIf="(formulario.get('senha').dirty || formulario.get('nome').touched)"
      >
        <span *ngIf="formulario.controls.senha.errors?.required">
          Insira a senha
        </span>
        <span *ngIf="formulario.controls.senha.errors?.minlength">
          Senha precisa ser maior do que 5 caracteres
        </span>
      </div>

      <ion-button expand="block" fill="solid" type="submit"
        >Cadastrar</ion-button
      >
    </form>
  </div>
</ion-content>
