.container {
  margin: 10px;
  font-size: 14px;
}

.container p {
  color: blue;
  font-weight: 400;
  width: 90%;
}

.container span {
  color: red;
}

.lista-contas {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  strong {
    font-weight: bold;
    font-size: large;
  }

  ion-list {
      width: 100%;
  }
}