<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center"> Gerenciador de senhas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gerenciador de senhas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <form [formGroup]="formCadastro" (ngSubmit)="adicionar()">
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" formControlName="nome"></ion-input>
      </ion-item>
      <div
        class="errors"
        *ngIf="(formCadastro.get('nome').dirty || formCadastro.get('nome').touched) && formCadastro.controls.nome.invalid"
      >
        <span *ngIf="formCadastro.controls.nome.errors?.required">
          Nome é obrigatório
        </span>
        <span *ngIf="formCadastro.controls.nome.errors?.minlength">
          Nome precisa possuir mais do que 5 caracteres
        </span>
      </div>

      <ion-item>
        <ion-label position="floating">Login</ion-label>
        <ion-input type="text" formControlName="login"></ion-input>
      </ion-item>
      <div
        class="errors"
        *ngIf="(formCadastro.get('login').dirty || formCadastro.get('login').touched) && formCadastro.controls.login.invalid"
      >
        <span *ngIf="formCadastro.controls.login.errors?.required">
          Login é obrigatório
        </span>
        <span *ngIf="formCadastro.controls.login.errors?.minlength">
          Login precisa possuir mais do que 5 caracteres
        </span>
      </div>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" formControlName="senha"></ion-input>
      </ion-item>
      <div
        class="errors"
        *ngIf="(formCadastro.get('senha').dirty || formCadastro.get('senha').touched) && formCadastro.controls.senha.invalid"
      >
        <span *ngIf="formCadastro.controls.senha.errors?.required">
          Senha é obrigatório
        </span>
        <span *ngIf="formCadastro.controls.senha.errors?.minlength">
          Senha precisa possuir mais do que 5 caracteres
        </span>
      </div>

      <ion-button expand="block" type="submit" [disabled]="formCadastro.invalid"
        >Adicionar</ion-button
      >
    </form>

    <div class="lista-contas" *ngIf="list_contas.length > 0">
      <strong>Lista de contas</strong>
      <br />

      <ion-list>
        <ion-item *ngFor="let item of list_contas">
          <p (click)="verDetalhes(item.id)">{{ item.nome }}</p>
          <ion-icon name="create-outline" (click)=edit(item.id)></ion-icon>
          <ion-icon name="close-outline" (click)="excluir(item.id)"></ion-icon>
        </ion-item>
      </ion-list>
    </div>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button (click)="deslogar()" [routerLink]="['/login']">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
